{%load static%}
<!DOCTYPE html>

	<html lang="zxx" class="no-js">
	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" href="/static/app1/img/fav.png">
		<!-- Author Meta -->
		<meta name="author" content="codepixer">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>Restaurant</title>

		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
			<!--
			CSS
			============================================= -->
			<link rel="stylesheet" href="{% static "/app1/css/linearicons.css" %}">
			<link rel="stylesheet" href="{% static "/app1/css/font-awesome.min.css" %}">
			<link rel="stylesheet" href="{% static "/app1/css/bootstrap.css" %}">
			<link rel="stylesheet" href="{% static "/app1/css/magnific-popup.css" %}">
			<link rel="stylesheet" href="{% static "/app1/css/nice-select.css" %}">					
			<link rel="stylesheet" href="{% static "/app1/css/animate.min.css" %}">
			<link rel="stylesheet" href="{% static "/app1/css/owl.carousel.css"  %}">
			<link rel="stylesheet" href="{% static "/app1/css/main.css" %}">
		</head>
		<body>

			  <header id="header" id="home">
			    <div class="container">
			    	<div class="row align-items-center justify-content-between d-flex">
				      <div id="logo">
				        <a href="index.html"><img src="/static/app1/img/logo.png" alt="" title="" height="40" width="35" /></a>
				      </div>
				      <nav id="nav-menu-container">
				        <ul class="nav-menu">
				          <li class="menu-active"><a href="{% url 'index_url' %}">Home</a></li>
				          <li><a href="{% url 'menu_url' %}">Menu</a></li>
				          <li><a href="{% url 'chef_url' %}">Star Chefs</a></li>
				          <li><a href="{% url 'blog_url' %}">Blog</a></li>
				          <li><a href="{% url 'contact_url' %}">Contact</a></li>
				          {% if not request.user.is_authenticated %}
				          <li> <a href="{% url 'login_url' %}">Place An Order </a></li>
				          <li><a href="{% url 'hotelreg_url' %}">Hotel</a></li>
				          {% else %}
				         	<li><a href="{% url 'logout_url' %}">Logout</a></li>
				         	<br><label style="margin-left: 400px; color: red;font-size: 20px;">{{request.user}}</label>
				          {% endif %}
				          
				        </ul>
				      </nav><!-- #nav-menu-container -->		    		
			    	</div>
			    </div>
			  </header><!-- #header -->

	{% block content %}
	{%endblock%}




















<!-- start footer Area -->		
			<footer class="footer-area section-gap">
				<div class="container">
					<div class="row">
						<div class="col-lg-3  col-md-6 col-sm-6">
							<div class="single-footer-widget">
								<h4 class="text-white">About Us</h4>
								<p>
									Twiclo Fudzz is a food delivering website, where people use it to order food online and makes it get delivered at home. It has got a lot of functions  in it. This is a responsive website that supports both desktop and mobile platforms, where people can order and get food that is delicious and lip-smacking. This helps the customers to choose from a variety of cuisines like Italian, Continental, American, Chinese, Japanese, North Indian and South Indian.It is one of the web applications that changed the tradition of visiting the restaurants in person.<br><br>

									The application is built in a robust way in order to handle a lot of customers in one go . This helps the management to serve the customers in a fast and reliable way to deliver the orders. This app has two modules that are vendor module and the customer module. The customer modules handle the customers, where the vendor module handles and process the orders. The customer module is where the customer orders the food by the listings that are arrayed in the application.<br><br>

									We give prominence to the quality of food during the process of delivering. And we are more concerned about building the healthy customer and vendor relationship. Customer satisfaction is the prime importance for our brand; this makes us handle the queries and complaints of the customers as soon as possible. Along with the services we never fail to provide feedback options for the customers in order to enhance ourselves and to serve better. We are serving round the clock to the customers in order to satisfy the appetite, and along with the delivering the food, we never failed to deliver the affection and love.
								</p>
							</div>
						</div>
						<div class="col-lg-4  col-md-6 col-sm-6">
							<div class="single-footer-widget">
								<h4 class="text-white">Contact Us</h4>
								<p>
									Please Feel Free to Contact Us for Complaints and Suggestions.
								</p>
								<p class="number">
									07736245651 <br>
									08606502179
								</p>
							</div>
						</div>						
						<div class="col-lg-5  col-md-6 col-sm-6">
							<div class="single-footer-widget">
								<h4 class="text-white">Newsletter</h4>
								<p>You can trust us. we only send  offers, not a single spam.</p>
								<div class="d-flex flex-row" id="mc_embed_signup">


									  <form class="navbar-form" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get">
									    <div class="input-group add-on">
									      	<input class="form-control" name="EMAIL" placeholder="Email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email address'" required="" type="email">
											<div style="position: absolute; left: -5000px;">
												<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
											</div>
									      <div class="input-group-btn">
									        <button class="genric-btn"><span class="lnr lnr-arrow-right"></span></button>
									      </div>
									    </div>
									      <div class="info mt-20"></div>									    
									  </form>

								</div>
							</div>
						</div>						
					</div>
					<div class="footer-bottom d-flex justify-content-between align-items-center flex-wrap">
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            <p class="footer-text m-0">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						<div class="footer-social d-flex align-items-center">
							
						</div>
					</div>
				</div>
			</footer>	
			<!-- End footer Area -->

			<script src="{% static "/app1/js/vendor/jquery-2.2.4.min.js"%}"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script src="{% static "/app1/js/vendor/bootstrap.min.js" %}"></script>			
			<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
  			<script src="{% static "/app1/js/easing.min.js" %}"></script>			
			<script src="{% static "/app1/js/hoverIntent.js" %}"></script>
			<script src="{% static "/app1/js/superfish.min.js" %}"></script>	
			<script src="{% static "/app1/js/jquery.ajaxchimp.min.js" %}"></script>
			<script src="{% static "/app1/js/jquery.magnific-popup.min.js" %}"></script>	
			<script src="{% static "/app1/js/owl.carousel.min.js" %}"></script>			
			<script src="{% static "/app1/js/jquery.sticky.js" %}"></script>
			<script src="{% static "/app1/js/jquery.nice-select.min.js" %}"></script>			
			<script src="{% static "/app1/js/parallax.min.js" %}"></script>	
			<script src="{% static "/app1/js/mail-script.js" %}"></script>	
			<script src="{% static "/app1/js/main.js" %}"></script>	
		</body>
	</html>



