{% extends 'base.html' %}
{%block content %}	

<!-- start blog Area -->		
			<section class="blog-area section-gap" id="blog">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-70 col-lg-8">
							<div class="title text-center">
								<h1 class="mb-10">Latest From Our Blog</h1>
								<p>"Blogging isn't about publishing as much as you can.Its about publishing as smart as you can"</p>
							</div>
						</div>
					</div>					
					<div class="row">
						<div class="col-lg-3 col-md-6 single-blog">
							<div class="thumb">
								<img class="img-fluid" src="/static/app1/img/b1.jpg" alt="">
							</div>
							<p class="date"></p>
							<a href="#"><h4>Cooking Perfect Fried Rice
							in minutes</h4></a>
							<p>
								1) In a saucepan, bring 1 cup of chicken broth to a boil. Add 1 1/3 cup Minute Rice, remove from heat and cover for 5 minutes.<br>

								2) Chop a small onion while heating 1 T  butter over medium-high heat in a large nonstick pan. Add the egg and break it up to scramble it and add the onion right away also. Cook until the egg is done and onion clearing. About 3 minutes.<br>

								3) Add the rice to the egg/onion along with 3 T soya sauce.<br>

								4) “Fry” for 3-4 minutes over medium-high heat.<br>

								5) Serve. Done in 10 minutes.
							</p>
							<div class="meta-bottom d-flex justify-content-between">
								<p><span class="lnr lnr-heart"></span> 15 Likes</p>
								<p><span class="lnr lnr-bubble"></span> 02 Comments</p>
							</div>									
						</div>
						<div class="col-lg-3 col-md-6 single-blog">
							<div class="thumb">
								<img class="img-fluid" src="/static/app1/img/b2.jpg" alt="">
							</div>
							<p class="date"></p>
							<a href="#"><h4>Secret of making Heart 
							Shaped eggs</h4></a>
							<p>
								1) Place your egg in boiling water and leave to boil for 5-10 minutes<br>

								2) Once the egg is cooked, run it under cold water and leave it to cool<br>
								
								3) Meanwhile, cut then ends off your empty juice carton, then cut off one side so you left with half the carton and you can fold it in half (see the video below if you're not sure what to do)<br>
								
								4) Now peel the boiled egg and sit it in the middle of the cardboard, so the card is folded up over each side of the egg<br>

								5) Place your chopstick/pen on top of the egg so that it creates a groove in the top - hold the chopstick/pen firmly in place with two elastic bands wrapped around the card
								Leave it to rest for 10 minutes<br>

								6) Now remove the bands and chopstick/pen and you should have a lovely heart-shaped egg
								Carefully cut it in half and serve with toast or salad
							</p>
							<div class="meta-bottom d-flex justify-content-between">
								<p><span class="lnr lnr-heart"></span> 15 Likes</p>
								<p><span class="lnr lnr-bubble"></span> 02 Comments</p>
							</div>									
						</div>
						
							
							
														
						
						<div class="col-lg-3 col-md-6 single-blog">
							<div class="thumb">
								<img class="img-fluid" src="/static/app1/img/b4.jpg" alt="">
							</div>
							<p class="date"></p>
							<a href="#"><h4>Addiction When Gambling
							Becomes A Problem</h4></a>
							
							<div class="meta-bottom d-flex justify-content-between">
								<p><span class="lnr lnr-heart"></span> 15 Likes</p>
								<p><span class="lnr lnr-bubble"></span> 02 Comments</p>
							</div>									
						</div>						
					</div>
				</div>	
			</section>
			<!-- end blog Area -->	

{%endblock%}	