{% extends 'base.html' %}
{%block content %}	
<!-- Start team Area -->
			<section class="team-area section-gap" id="chefs">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-70 col-lg-8">
							<div class="title text-center">
								<h1 class="mb-10">Meet Our Star Chefs</h1>
								<p>If you're not the one cooking, stay out of the way and compliment the chef.</p>
							</div>
						</div>
					</div>						
					<div class="row justify-content-center d-flex align-items-center">
						<div class="col-md-3 single-team">
						    <div class="thumb">
						        <img class="img-fluid" src="/static/app1/img/t1.jpg" alt="">
						        <div class="align-items-center justify-content-center d-flex">
									
						        </div>
						    </div>
						    <div class="meta-text mt-30 text-center">
							    <h4>Shipra Khanna</h4>
							    <p>Sous Chef(Le Meridien Kochi)</p>									    	
						    </div>
						</div>
						<div class="col-md-3 single-team">
						    <div class="thumb">
						        <img class="img-fluid" src="/static/app1/img/t2.jpg" alt="">
						        <div class="align-items-center justify-content-center d-flex">
									
						        </div>
						    </div>
						    <div class="meta-text mt-30 text-center">
							    <h4> Floyd Cardoz</h4>
							    <p>Excecutive Chef(Kochi Marriot Hotel)</p>			    	
						    </div>
						</div>	
						<div class="col-md-3 single-team">
						    <div class="thumb">
						        <img class="img-fluid" src="/static/app1/img/t3.jpg" alt="">
						        <div class="align-items-center justify-content-center d-flex">
									
						        </div>
						    </div>
						    <div class="meta-text mt-30 text-center">
							    <h4>Anahitha Dhondy</h4>
							    <p>Excecutive Chef(Radison's Blu)</p>			    	
						    </div>
						</div>	
						<div class="col-md-3 single-team">
						    <div class="thumb">
						        <img class="img-fluid" src="/static/app1/img/t4.jpg" alt="">
						        <div class="align-items-center justify-content-center d-flex">
									
						        </div>
						    </div>
						    <div class="meta-text mt-30 text-center">
							    <h4>Amrita Raichand</h4>
							    <p>Head Chef(Grand Hyatt Kochi)</p>			    	
						    </div>
						</div>																		
					</div>
				</div>	
			</section>
			<!-- End team Area -->			
{%endblock%}	