{% extends 'base.html' %}
{%block content %}			
			<!-- start banner Area -->

			<section class="banner-area relative" id="home">
				<div class="container">
					<div class="row fullscreen d-flex align-items-center justify-content-start">
						<div class="banner-content col-lg-8 col-md-12">
							<h4 class="text-white text-uppercase">Love Your Hunger</h4>
							<h1>
								Twiclo Fudzz				
							</h1>
							<p class="text-white">
								"When you rise in the morning, give thanks for the light, for your life, for your strength. Give thanks for your food and for the joy of living. If you see no reason to give thanks, the fault lies in yourself".
							</p>
							<a href="#" class="primary-btn header-btn text-uppercase">Check Our Menu</a>
						</div>												
					</div>
				</div>
			</section>
			<!-- End banner Area -->
{%endblock%}	

			

			
			

			

			