{% extends 'base.html' %}
{%block content %}	

<!-- Start top-dish Area -->
			<section class="top-dish-area section-gap" id="dish">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-60 col-lg-8">
							<div class="title text-center">
								<h1 class="mb-10">Our Top Rated Dishes</h1>
								<p>One cannot think well, love well and sleep well if one has not dined well.</p>
							</div>
						</div>
					</div>						
					<div class="row">
						<div class="single-dish col-lg-4">
							<div class="thumb">
								<img class="img-fluid"  src="/static/app1/img/d1.jpg" alt="">
							</div>
							<h4 class="text-uppercase pt-20 pb-20">Bread Fruit Cheese Sandwich</h4>
							<p>
								When it comes to defining all-American lunches, it's hard not to conjure up an image of a sandwich. There's just something about a classic sandwich that can appease every appetite. 
							</p>
						</div>
						<div class="single-dish col-lg-4">
							<div class="thumb">
								<img class="img-fluid"  src="/static/app1/img/d2.jpg" alt="">
							</div>
							<h4 class="text-uppercase pt-20 pb-20">Beef Cutlet with Spring Onion</h4>
							<p>
								 "Perhaps a man hitched to the cart of a Martian or roasted on the spit by inhabitants of the Milky Way will recall the veal cutlet he used to slice on his dinner plate and apologize (belatedly) to the cow."
							</p>
						</div>
						<div class="single-dish col-lg-4">
							<div class="thumb">
								<img class="img-fluid"  src="/static/app1/img/d3.jpg" alt="">
							</div>
							<h4 class="text-uppercase pt-20 pb-20">Meat with sauce & Vegetables</h4>
							<p>
								Vegetables are interesting but lack a sense of purpose when unaccompanied by a good cut of meat.
							</p>
						</div>												
					</div>
				</div>	
			</section>
			<!-- End top-dish Area -->
			
			<!-- Start video Area -->
			<section class="video-area">
				<div class="container">
					<div class="row justify-content-center align-items-center flex-column">
						
						
						<h3 class="pt-20 pb-20 text-white">We Always serve the vaping hot and delicious foods</h3>
						
					</div>
				</div>	
			</section>
			<!-- End video Area -->
			

			<!-- Start features Area -->
			<section class="features-area pt-100" id="feature">
				<div class="container">
					<div class="feature-section">
						<div class="row">
							<div class="single-feature col-lg-3 col-md-6">
								<img src="/static/app1/img/f1.png" alt="">
								<h4 class="pt-20 pb-20">Refreshing Breakfast</h4>
								<p>
									All happiness depends on a leisurely breakfast.
								</p>
							</div>
							<div class="single-feature col-lg-3 col-md-6">
								<img src="/static/app1/img/f2.png" alt="">
								<h4 class="pt-20 pb-20">Awesome Lunch</h4>
								<p>
									Lunch Hour is the Best Hour of the Day
								</p>
							</div>
							<div class="single-feature col-lg-3 col-md-6">
								<img src="/static/app1/img/f3.png" alt="">
								<h4 class="pt-20 pb-20">Soothing Dinner</h4>
								<p>
									A successful dinner is one that lasts a while and one where everyone leaves happy.
								</p>
							</div>
							<div class="single-feature col-lg-3 col-md-6">
								<img src="/static/app1/img/f4.png" alt="">
								<h4 class="pt-20 pb-20">Rich Quality Buffet</h4>
								<p>
									"I'm a big buffet dude, or I'm a big cheap-food-and-order-more-when-I-need-it dude".
								</p>
							</div>														
						</div>											
					</div>
				</div>	
			</section>
			<!-- End features Area -->


			<!-- Start related Area -->
			<section class="related-area section-gap">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-60 col-lg-8">
							<div class="title text-center">
								<h1 class="mb-10">Our Featured Food Menus</h1>
								<p>Who are in extremely love with eco friendly system.</p>
							</div>
						</div>
					</div>						
					<div class="row justify-content-center">
						<div class="active-realated-carusel">
							<div class="item row align-items-center">
								<div class="col-lg-6 rel-left">
								   <h3>
								   		Fresh & Crispy All the time
								   </h3>
								   <p class="pt-30 pb-30">
								 	  	We feel an important part of beauty is not only what you do on the outside but also what you put into the inside. ...
								   </p>
									<a href="#" class="primary-btn header-btn text-uppercase">View full menu</a>								   
								</div>
								<div class="col-lg-6">
									<img class="img-fluid" src="/static/app1/img/slider1.jpg" alt="">
								</div>
							</div>
							<div class="item row align-items-center">
								<div class="col-lg-6 rel-left">
								   <h3>
								   		Fresh & Crispy All the time
								   </h3>
								   <p class="pt-30 pb-30">
								 	  	Good fresh food with many vegetables along with love and caring for others. We spend way more time serving others than we do on our beauty routine daily.
								   </p>
									<a href="#" class="primary-btn header-btn text-uppercase">View full menu</a>								   
								</div>
								<div class="col-lg-6">
									<img class="img-fluid" src="/static/app1/img/slider1.jpg" alt="">
								</div>
							</div>							
						</div>
					</div>
				</div>	
			</section>
			<!-- End related Area -->	
{%endblock%}	